.container-page-not {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #ccc;
}


.description-not {
    font-size: 1.2em;
    text-align: center;
}

.img-not {
    width: 50%;
    height: auto;
    margin: 5rem;
}
