.container-button {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    animation: identifier 2s ease-in-out;
}


.button {
    position: relative;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #000;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    border: none;
    text-decoration: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }


  .button:hover {
    color: #00dbde;
  }

  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 8rem;
    height: 2.8rem;
    border-radius: 10px;
    background: linear-gradient(-45deg, #064e4e 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #0299b4 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }

  .button:hover::after {
    filter: blur(30px);
}

.button:hover::before {
    transform: rotate(-180deg);
}

.button:active::before {
    scale: 0.7;
  }

  /* ANIMAÇÕES */

  @keyframes identifier {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  /* RESPONSIVIDADE */

  @media (max-width: 768px) {
    .container-button {
      margin: .5;
  }
  }







  @media (max-width: 320px) {
    .button {
      margin: -1rem 0;
    }
  }



