@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.dad-HardSkills {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: white;
    /* opacity: 0; */
}

.title-hardSkills {
    color: white;
    text-align: center;
    margin-top: 10rem ;
    font-size: 2em;
}




.container_hardSkills {
    width: 80%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* grid-template-columns: 1fr 1fr; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    color: white;
}


.hardSkill__Javascript {
    width: 277px;
    height: 52vh;

    /* max-height: 75vh; */
    padding: .7rem;
    text-align: center;
    background: #333333f3;
    box-shadow:  5px 5px 10px #d0ff00,
             -5px -5px 10px #313131;
    border-radius: 1rem;
    transition: box-shadow 0.2s ease-in-out;

}

.hardSkill__Javascript p {
    color: #d9ff00;
    padding: .7rem 0;
    font-weight: bold;
    font-size: 1.2em;
}
.hardSkill__React {
    width: 277px;
    height: 52vh;

    /* max-height: 75vh; */
    padding: .7rem;
    text-align: center;
    background: #333333f3;
    box-shadow:  5px 5px 10px #00fcfc,
             -5px -5px 10px #313131;
    border-radius: 1rem;
    transition: box-shadow 0.2s ease-in-out;

}

.hardSkill__React p{
    color: rgb(0, 255, 255);
    padding: .7rem 0;
    font-weight: bold;
    font-size: 1.2em;
}
.hardSkill__Angular {
    width: 277px;
    height: 52vh;

    /* max-height: 75vh; */
    padding: .7rem;
    text-align: center;
    background: #333333f3;
    box-shadow:  5px 5px 10px #ff0000,
             -5px -5px 10px #313131;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 1rem;


}

.hardSkill__Angular p{
    color: rgb(255, 17, 0);
    padding: .7rem 0;
    font-weight: bold;
    font-size: 1.2em;
}
.hardSkill__NodeJs {
    width: 277px;
    height: 52vh;

    /* max-height: 75vh; */
    padding: .7rem;
    text-align: center;
    background: #333333f3;
    box-shadow: 5px 5px 10px #2bff00,
    -5px -5px 10px #313131;
    transition: box-shadow .2s ease-in-out;
    border-radius: 1rem;

}


.gp-description-skills {
    font-size: 1em;
}

.hardSkill__NodeJs p{
    color: rgb(4, 143, 34);
    padding: .7rem 0;
    font-weight: bold;
    font-size: 1.2em;
}

.hardSkill__Javascript,
.hardSkill__React,
.hardSkill__Angular,
.hardSkill__NodeJs span{
    text-align: center;
    padding: auto 10px;
    letter-spacing: 1px;
}





.hardSkill__Javascript:hover,
.hardSkill__React:hover,
.hardSkill__Angular:hover,
.hardSkill__NodeJs:hover {
    box-shadow: 3px 3px 35px rgb(55, 59, 59);
}


/* ANIMAÇÕES */

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }





/* RESPONSIVIDADE  */

@media (max-width: 1768px) {

}

@media (max-width: 1024px) {

    .hardSkill__Javascript,
    .hardSkill__React,
    .hardSkill__Angular,
    .hardSkill__NodeJs {
        max-height: 35vh;
    }



}

@media (max-width: 768px) {
    .hardSkill__Javascript,
    .hardSkill__React,
    .hardSkill__Angular,
    .hardSkill__NodeJs {
        max-height: 40vh;
        font-size: .8em;
    }
    .gp-icons {
        width: 84px;
    }

}

@media (max-width: 428px) {
    .hardSkill__Javascript,
    .hardSkill__React,
    .hardSkill__Angular,
    .hardSkill__NodeJs {
        max-height: 20rem;
        padding: 0;
        font-size: .9em;
    }
    .gp-icons {
        width: 84px;
    }
}


@media (max-width: 320px) {
    .hardSkill__Javascript,
    .hardSkill__React,
    .hardSkill__Angular,
    .hardSkill__NodeJs {
        max-height: 20rem;
        padding: 0;
        font-size: .8em;
    }

    .gp-icons {
        width: 84px;
    }

}

